*.suo
*.exe
*.dll
*.obj
*.pdb
NetSparkle.Net40.XML
bin/
obj/
_ReSharper*/
*.ncrunchsolution
/nuget/core/content
/nuget/core/lib
/nuget/core/tools
/nuget/tools/content
/nuget/tools/lib
/nuget/tools/tools
*.nupkg
*.DotSettings.user
TestAppFiles/*.txt
TestAppFiles/*.dsa
.vs/*
src/NetSparkleGenerator/NetSparkleGenerator.csproj.user
